body {
  background: url("/img/so-white.png");
}

.head {
  background: url("/img/headbg.jpg") center center;
  background-size: cover;
  text-shadow: 0 0 5px #000000;
}

.btn-discord {
  background: #597ae0 !important;
  color: #ffffff;
}