body {
  background-size: cover;
  background: url("/img/bg2.jpg") no-repeat fixed center center;
}

mark {
  background-color: #e3fce3;
}

.white-and-shadow {
  text-shadow: 0 0 .3rem rgba(33, 29, 45, .9);
  color: white;
}

textarea {
  resize: none;
}
