html, body {
  height: 100%;
}

body {
  background: url("/img/bg2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//body:after{
//  content:"";
//  position:fixed; /* stretch a fixed position to the whole screen */
//  top:0;
//  height:100vh; /* fix for mobile browser address bar appearing disappearing */
//  left:0;
//  right:0;
//  z-index:-1; /* needed to keep in the background */
//  background: url("/img/bg2.jpg") center center;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//}

mark {
  background-color: #e3fce3;
}

.white-and-shadow {
  text-shadow: 0 0 .3rem rgba(33, 29, 45, .9);
  color: white;
}

textarea {
  resize: none;
}

.menu-links {
  .nav-link.active, .nav-link:hover {
    &:after {
      content: '';
      position: absolute;
      width: 5rem;
      border-bottom: 2px #ffffff solid;
      display: block;
      bottom: 0.75rem;
    }
  }

  a {
    line-height: 1;
  }
}

.status-dot {
  margin-bottom: 3px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  opacity: 0.9;
  display: inline-block;

  &:hover {
    opacity: 1;
  }

  &.online {
    background-color: #6fe361;
    box-shadow: #51b646 0 0 4px;
  }

  &.offline {
     background-color: #e36161;
     box-shadow: #b64646 0 0 4px;
   }
}

.shop-list {
  th:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .show-more {
    cursor: pointer;
  }

  tr:hover {
    .bg-success {

    }

    a {
      text-decoration: underline !important;
    }
  }
}

@media (max-width: 575.98px) {
  .menu-links {
    .nav-link.active, .nav-link:hover {
      &:after {
        display: none;
      }
    }
  }
}
